---
import Layout from '../layouts/Layout.astro';
---

<Layout title="amyspark-ng:)">
	<main>
		<div class = "centered">
			<img id="pfp" src="../../public/pfp.png"></img>
			<div class = "texty-stuff">
				<h1>i want to be killed</h1>
				<p id="greyed-out">i want to be killed</p>
			</div>
		</div>
	</main>
</Layout>

<style>
	html {
		width: 100%;
		height: 100%;
		display: table;
		margin: auto;
	}
	
	.texty-stuff {
		color: #ffffff;
		display: inline-flex;
		margin: 6px;
		vertical-align: middle;	
	}


	h1 {
		font-size: 20px;
	}
	
	.centered {
		text-align: center;
		position: absolute;
		top: 360px;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	#greyed-out {
		color: rgb(223, 37, 37)
	}
	
	:root {
		background-image: url("../../public/blurredBackground.png");
	}
	
	#pfp {
		border-radius: 50%;
		height: 50vh;
	}
</style>