@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

/* HEY HEY HEY HEY HEY YOU */
/* If you're an actual web developer and have a bit of respect for yourself, i wouldn't recommend you looking at this file */
/* Like, at all, this page is hold together using glue and duct tape, i am aware of this, so sorry for it ig :') */

/* #region ANIMATIONS */
@keyframes startAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes logoAnim {
	1% {
		
	}
	
	50% {
	}
	
	100% {

	}
}

/* #endregion */

/* #region IMPORTANT PAGE STUFF */

/* Fun fact! Idk what any of this means */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}

/* uhhhhhhhhhhhhh */
.responsive {
	max-width: 100%;
	height: auto;
}

:root {	
	background-color: rgb(81, 67, 206);
	
	--backgroundImage: url("../art/backgroundGif.gif");
	--backgroundSize: cover;
	--cardColor: rgba(117, 108, 245, 0.87);
	
	--colorText: rgb(234, 240, 255);
	--linkColor: rgb(188, 234, 255);
	--visitedLinkColor: rgb(198, 155, 253);
	
	--codingColor: rgb(151, 208, 255);
	--gamesColor: rgb(255, 90, 140);
	--bracketsColor: rgb(180, 190, 214);
}

.dark-theme {
	background-color: rgb(29, 28, 54);

	--backgroundImage: url("../art/darkBackgroundStatic.png");
	--backgroundSize: none;
	--cardColor: rgba(11, 10, 14, 0.897);

	--colorText: rgb(255, 255, 255);
	--linkColor: rgb(188, 234, 255);
	--visitedLinkColor: rgb(173, 145, 238);

	--codingColor: rgb(141, 200, 248);
	--gamesColor: rgb(255, 106, 150);
	--bracketsColor: rgb(160, 169, 190);
}

.logoAnimClass {
	animation: logoAnim ease 1s;
}

:link {
	color: var(--linkColor);
}

:visited {
	color: var(--visitedLinkColor);
}

html, body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Fredoka';
	background-image: var(--backgroundImage);
	background-size: var(--backgroundSize);
	color: rgb(234, 240, 255);
	scroll-behavior: smooth;
}

/* If there was any */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: #ffffff41;
}

/* #endregion PageStuff */

/* #region MAIN CARD THINGS */
#card {
	/* Starting Animation */
	animation: startAnim ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	
	border: 2.5px solid rgb(234, 240, 255);
	background: var(--cardColor);

	border-radius: 15px 15px 0px 15px;
	width: 1224px;
	height: 700px;

	padding: 20px;

	margin-bottom: 20px;
	margin-left: 25px;
	margin-right: 25px;
}

/* PFP */
#pfp {	
	border: 5px solid rgb(255, 255, 255);
	border-radius: 50%;
	
	margin-left: 8px;
	margin-bottom: 2px;

	width: 262px;
	height: 264px;
	cursor: pointer;
}

#logo {
	cursor: pointer;
	margin-left: 10px;
}

/* Horizontal dotted rule */
#hr {
	margin-bottom: 3px;
	margin-top: 10px;
	width: 1175px;
	border: 6px dashed;
	border-style: none none dotted;
	
	color: rgb(255, 255, 255);
	opacity: 0.5;
}

/* #endregion */

/* #region MainTextSpans */

/* Basically the whole text thingy */
#mainText {
	margin-top: 10px;
}

#amyText {
	color:rgb(255, 134, 229);
}

#codingText {
	color: var(--codingColor)
}

#gamesText {
	color: var(--gamesColor)
}

.interactableText:hover {
	text-decoration: underline;
}

.bracketsText:hover {
	text-decoration: line-through;
}

.bracketsText {
	color: var(--bracketsColor)
}

/* #endregion */

/* #region List stuff (ty LajBel) */
ul {
	list-style-image: url('/assets/art/darkBulb.gif');
}

.list {
	display: flex;
	margin-left: 25px;
	flex-wrap: wrap;
}

.list li {
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
}

#firstList {
	padding-left: 15px;
}

#randomBtn {
	cursor: pointer;
}

/* #endregion */

/* #region ETC STUFF */

#bulbImg {
	cursor: pointer;
	width: 50px;
	height: 65px;
	position: absolute;
	opacity: 85%;

	top: 84%;
	left: 83%;
}

/* "Footer" text (is not actually a footer)  */
#footText {
	position: absolute;
	margin-left: 4px;
	margin-bottom: 3px;
	font-size: 18px;

	bottom: 0.7%;
	left: 0.2%
}

#duck {
	font-size: 65px;
	cursor: pointer;
}

/* #endregion */
